@font-face {
  font-family: GlyphHalflings;
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
   url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg');/* IE9 Compat Modes */
  /* Legacy iOS */
}
/*MEDIA QUERY*/
@media (min-width: 1500px){
	.container {
	width: 1500px;
	}	
}

@media (min-width: 1300px){
	.container {
	width: 1300px;
	}	
}

@media (min-width: 1100px){
	.container {
	width: 1100px;
	}	
}

/*MAIN*/
body {
	font-family: GlyphHalflings, Arial, sans-serif;
	background-color: #ffffff;
}

table{
	margin-bottom: 2.5em;
}

h2{
	margin-left: 10px;
	text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;	
}

/*NAVBAR*/
nav.navbar {
	align-content: center;
	height: 90px;
	background: transparent;
	margin: 0;
	padding-bottom: 20px;
	border: none;
}

/*JUMBOTRON*/
.jumbotron{
	text-align: center;
	color: white;
	background: #3e3e3e;
	height: 580px;
	margin-bottom: 0;
}
div.container h1 {
	margin-top: 180px;	
}

div.container p {
	margin: 0;
	padding: 0;
	z-index: 5;
}

/*THE MENU*/
section.menu-strip{
	text-align: center;
	margin-bottom: 70px;
} 

.the-menu-strip{
	background: #f34949;
	margin-bottom: 0;
	height: 3px;
	width: 100%;
	z-index: 10;
}

div.col-lg-6.col-md-6  h3{
	display: inline-block;
	font-size: 1.2em;
}

div#align-r.col-lg-6.col-md-6 h3{
	text-align: right;
}

div.col-md-6 span{
	color: black;
	font-size: 1.2em;
}

div.col-md-6 p{
	font-size: 0.9em;
	font-style: italic;
	color: #b1b1b1;

}

#load-more{
	margin-top: 20px;
	text-align: center;
	
}

#load-more button{
	margin-top: 100px;
	border-radius: 0 0 0 0;
}

/*FEATURED DISHES*/


div.category-strip{
	background: #e0dbdb;
	margin-top: 20px;
	margin-left: 20px;
	height: 1px;
	width: 11em;
}

#dishes{
	margin-top: 170px;
}

a#dish span{
	margin-right: 30px;
}

/*THE GALLERY*/

#gallery{
	margin-top: 170px;
}

div.col-lg-4.col-md-4{
	padding: 0;
}

a.thumbnail{
	padding: 0;
	margin-bottom: 0;
	border: 0;
}

/*FOOTER*/
footer{
	color: white;
	background-color: #383838;
	height: 325px;
	margin-top: 200px;
}
footer section.container div.row{
	margin-top: 120px;
}
footer span{
	font-weight: bold;
}
footer a{
	display: block;
	color: white;
	font-weight: bold;
}
footer a:hover{
	color: white;
	text-decoration: none;
}
footer p > a{
	display: inline;
}
footer p > a:hover{
	display: inline;
	color: white;
	text-decoration: none;
}
